{% extends "base.html" %}
{% comment "What" %}
    The 'three-col' template allows a simple

        left    center      right

    where the left is usually designated to site-wide pages, and the right is
    dedicated to the in-page (local) page content, such as a TOC.
{% endcomment %}
{% load static link %}

{% block body_class %}dev-mode three-column-template-homepage{% endblock %}

{% block extra_css %}

    {% css "css/alt-base/base.css" %}

    {% css "css/alt-base/header-nav.css" %}
    {% css "css/alt-base/three-col.css" %}
    {% css "css/global.css" %}

{% endblock extra_css %}

{% block head_js %}
    {# <script src="https://cdn.jsdelivr.net/npm/polyclass@latest/dist/polyclass.browser-full.js"></script> #}
    {% js "js/polyclass.browser-full.js" %}

{% endblock head_js %}

{% block content %}

<header class="classic-header
              position-sticky
              top-0em
              display-grid
              grid-auto-flow-column
              background-#0a0a0a
              align-items-center
              grid-auto-columns-1fr-5em">

    <div class="logo">
        <h1>
            {{ page.get_site.site_name }}
        </h1>
    </div>

    <nav class="header-nav">
        {% include "../nav.html" %}
    </nav>

    <div class="user-area">
        <div class="account-area">
            {# link "account:profile" user #}
            {{ user }}
        </div>
    </div>

</header>

<main>
    <div class="column-base">
        <div class="left secondary-column">
            {% block content.left %}{% endblock content.left %}
        </div>

        <div class="center primary-column">
            {% block content.center %}
            <h1>Content Here</h1>
            {% lorem 30 p %}
            {% endblock content.center %}
        </div>

        <div class="right secondary-column">
            {% block content.right %}{% endblock content.right %}
        </div>
    </div>
</main>

<footer>
    <div class="footer-area">

    </div>
</footer>

{% endblock content %}
