{% theme "base" %}
{% load static link size strings filereader %}

{% block wagtailbar %}{% endblock wagtailbar %}

{% block content.center %}
{% js "js/fragment/frags.js" %}

<div polyclass>

    <div class="color-#ddd">
        {% link 'drives:list' 'All Drives' %}

        <h2>File</h2>

        {% include "./sub/breadcrumbs.html" %}

        <div>
            <a href="#" data-type='path'>{{ object.path }}</a>
            {% link "file:open" object.path.as_posix "open" %}
        </div>

        {% link.info "thumbnailer:resize" object.path.as_posix "open" as linkinfo %}

        <async-fragment load='click' url='{{linkinfo.url}}'>
            Async info
        </async-fragment>

        <div>
            <h3>Note</h3>
            <div>
            {{ obj.note }}
            </div>
        </div>

        <div>
            <h3>Publishing</h3>
            {{ object.is_public }}
            {% link "publishing:form" object.path.as_posix "Publish" %}
        </div>

        {{ object }}

        <h3>Tags</h3>
        <ul>
            <li>
                {% link "tags:form" object.path.as_posix "Add" %}
            </li>
        {% for tag in object.tags.all %}
            <li>{{ tag }}</li>
        {% endfor %}
        </ul>
    </div>

    <h3>Addons</h3>
    <ul>
        {% for addon in object.addons %}
            <li>
                {% reader.show addon object.path %}
            </li>
        {% endfor %}
    </ul>
</div>


{% css "css/file/file_list.css" %}

{% include "tools/alt-menu.html" %}
{% css "css/tools/alt-menu.css" %}
{% js "js/tools/alt_menu.js" %}

{% endblock content.center %}
