<div class="alt-click-menu alt-menu">
    <div class="title">
        <p>
            <a href="#" tabindex="0">Alt Menu</a>
        </p>
    </div>
    <hr>
    <div class="menu-content">
        <div>
            <a data- href="#">Cut</a>
            <div
              data-type='alt-menu'
              data-namespace='copy'
              data-menu="copy-menu"
              class="sub-hover-show">
                <a href="#">Copy</a>
                <a href="#" class='expand-button'>&gt;</a>
            </div>
            <div
              data-type='alt-menu'
              data-namespace='paste'
              data-menu="paste-menu"
              class="sub-hover-show">
                <a href="#">Paste</a>
                <a href="#"
                    class='expand-button'>
                    &gt;
                </a>
            </div>
        </div>
    </div>
    <div class="menu-footer">
        <!-- blank footer-->
    </div>
</div>


<div class="copy-menu alt-menu">
    <div class="menu-content">
        <div class="title">
            <p>
                <a href="#" tabindex="0">Copy Menu</a>
            </p>
        </div>
        <hr>
        <div>
            <a data-action='copyName' href="#">Name</a>
            <a data-action='copyPath' href="#">Path</a>
            <a data-action='copyFile' href="#">File</a>
        </div>
    </div>
    <div class="menu-footer">
        <!-- blank footer-->
    </div>
</div>

<div class="paste-menu alt-menu">
    <div class="menu-content">
        <div class="title">
            <p>
                <a href="#" tabindex="0">Paste Menu</a>
            </p>
        </div>
        <hr>
        <div>
            <a href="#">Elks</a>
            <a href="#">Window</a>
            <a href="#">Blobs</a>
        </div>
    </div>
    <div class="menu-footer">
        <!-- blank footer-->
    </div>
</div>