{% theme "base" %}
{% load static link quickforms %}

{% block wagtailbar %}{% endblock wagtailbar %}

{% block content.center %}

<div polyclass>
    <h1>Monitor Entries</h1>
    <ul>
        {% for item in object_list %}
        <li>
            <div class="item">
                <span class="created">{{ item.latest_record.type.name }}</span>
                <span class="fullpath">
                    {{ item.fullpath }}
                    {% link "monitor:detail" item.pk "info" %}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content.center %}
