{% comment "readme" %}
    The email base for a generic email - overridden by the template
{% endcomment %}

{% block content %}
    email content
{% endblock content %}

{% block footer %}

Should you have any questions or concerns, please contact us by phone at (609) 924-3011 or via email at example.

---

This email was sent to you directly from the website services on domains .com, .dev

You're receiving this automated email because you interacted with our services. We will not use or share this information for any purpose other than processing this transaction.

Thanks Again!

---

P.S. I've really enjoyed being the voice in your head
 - robot.

{% endblock footer %}
