{% theme "base" %}
{% load static link quickforms size %}

{% block wagtailbar %}{% endblock wagtailbar %}

{% block content.center %}

<div polyclass>

    <h1>Uploaded File</h1>

    {% link "tags:form" object.as_posix 'tag' %}

    <div>
        {% include "./sub/card.html" %}
    </div>

    {% if user.is_staff %}
        {% link "drives:file" object.as_posix "File" %}
    {% endif %}
    <div>
        <h3>Publishing</h3>
        {{ object.is_public }}
        {% link "publishing:form" object.as_posix "Publish" %}
    </div>

    <h3>Tags</h3>
    <ul>
        <li>
            {% link "tags:form" object.as_posix "Add" %}
        </li>
    {% for tag in object.tags.all %}
        <li>
            {% link "tags:detail" tag.slug tag.label %}
        </li>
    {% endfor %}
    </ul>
</div>


{% css "css/file/file_detail.css" %}

{% endblock content.center %}
