{% theme "base" %}
{% load static link size strings %}

{% block wagtailbar %}{% endblock wagtailbar %}

{% block content.center %}

<div polyclass>

    <div class="color-#ddd">
        <h2>Tags</h2>

        <ul class="display-grid
                    list-style-none
                    margin-0em padding-0em
                    gap-.5em">
            {% for obj in object_list %}
                <li class="">

                    {% link "tags:detail" obj.slug obj.label %}

                    {% link "tags:edit" obj.slug '[edit]' %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% css "css/file/file_list.css" %}

{% endblock content.center %}
